/* The sidepanel menu */
.sidepanel {
  height: 100vh;
  width: 400px;
  top: 0;
  left: 0;
  /* overflow-x:hidden; */
  transition: 0.5s;
}

.test {
  display: flex;
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
  margin: 15px;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:not(a:first-of-type):hover {
  color: #7c0000;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: black;
  /* padding: 10px 15px; */
  border: none;
}
.openbtn:hover {
  cursor: pointer;
}

/* .closebtn{
  font-size: 20px;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  margin: auto;
} */

.sideBarTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.searchArticle,
.categoryArticle {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  border-bottom: 1px solid rgb(110, 110, 110);
  padding: 25px;
}

.checkBoxContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.checkBoxLine {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.content {
  transition: margin-left 0.5s; /* Add a transition to smoothly animate the margin change */
}

/* Adjust the margin when the sidebar is open */
.sidepanel-open .content {
  margin-left: 400px;
}

.content {
  padding: 10px;
}

.customCheckbox {
  width: 20px;
  height: 20px;
}

.infoCart{
  width: 90%;
  margin: 20px auto;
}

.addToCart{
    background-color: #c86823;
    border: 0;
    width:300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    color: white;
    font-size: 20px;
    padding: 10px 10px; 
    transition: background-color 0.3s;
}

.addToCart:hover{
  background-color: #A0471D;
  cursor: pointer;
}

.oneCart{
  /* background-color: yellow; */
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;

  /* Optional: Add a transition for smoother effects */
  transition: background-color 0.3s, transform 0.3s;
}

.oneCart:hover {
  background-color: #f8f8f8;
  transform: scale(1.02);
}

.imgCart{
  width: 350px;
}

@media screen and (max-width : 650px) {
  .addToCart{
    width: 250px;
    font-size: 15px;
    padding: 10px;
  }
}

@media screen and (max-width : 500px) {
  .sidepanel{
    width: 100%;
  }
}

@media screen and (max-width : 430px) {
  /* .oneCart{
    width: 80%;
  } */
  .imgCart{
    width:100%;
  }

  .infoCart{
    width: 90%;
  }
  .openbtn{
    display: none;
  }
}



@media screen and (min-width: 960px) {
  .sidepanel .closebtn {
    display: none;
  }
  .openbtn {
    display: none;
  }

  
}

@media screen and (max-width: 960px) {
  .sidepanel {
    background-color: #c86823;
    overflow-x: auto;
    width: 300px;
  }
}

@media screen and (max-width : 500px) {
  .big{
    flex-wrap: wrap;
  }
  
}

@media screen and (max-width : 430px) {
  .sidepanel{
    height: 200px;
  }
}

@media screen and (max-width: 350px) {
  .searchArticle,
  .categoryArticle {
    padding: 5px;
    margin: 5px;
  }
  .sideBarTitle {
    flex-direction: column;
  }
}
